body {
    background: #000000;
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,

#experience,
#experience .fp-slide,
#experience .fp-tableCell,

#education,
#education .fp-slide,
#education .fp-tableCell,

#skills,
#skills .fp-slide,
#skills .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell {
    height: 100vh !important;
}

/* end all section */

/* start all heading */
h1,
h2,
h3,
h4,
h5 {
    color: #ffffff;
    font-weight: bold;
}

/* end all heading */

/* start all section */

/* end all section */

/* start simpletextrotator */
.rotating {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
    -o-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin-x: 50%;
}

.rotating.flip {
    position: relative;
}

.rotating .front,
.rotating .back {
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rotating .front {
    position: absolute;
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 1px);
    -moz-transform: translate3d(0, 0, 1px);
    -ms-transform: translate3d(0, 0, 1px);
    -o-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
}

.rotating.flip .front {
    z-index: 1;
}

.rotating .back {
    display: block;
    opacity: 0;
}

.rotating.spin {
    -webkit-transform: rotate(360deg) scale(0);
    -moz-transform: rotate(360deg) scale(0);
    -ms-transform: rotate(360deg) scale(0);
    -o-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
    z-index: 2;
    display: block;
    opacity: 1;

    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
    -o-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
}

.rotating.flip.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateX(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 0);
    -o-transform: rotateX(180deg) translate3d(0, 0, 0);
    transform: rotateX(180deg) translate3d(0, 0, 0);
}

.rotating.flip.cube .front {
    -webkit-transform: translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube .back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

/* end simpletextrotator */

.backlayer {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

.frontlayer {
    position: relative;
    z-index: 1;
}

#home {
    padding-top: 120px;
    padding-bottom: 400px;
    text-align: center;
}

#home h1 {
    color: #ffffff;
    display: inline-block;
    font-size: 60px;
    letter-spacing: 6px;
    padding: 25px 35px;
    margin: 100px 0;
}

#home h2 {
    padding-top: 100px;
    padding-bottom: 50px;
}


.mobile {display:none;}
.desktop {display:display;}

@media (max-width : 1024px) {
    .mobile {display:block;}
    .desktop {display:none !important;}
    li {margin-top: 0px !important;}
    h2 {padding-top: 10px !important; padding-bottom: 5px !important;}
    .media-heading {margin-top: 20px !important; font-size: 20px !important; margin-bottom: 20px !important;}
    .portfolio-thumb {margin-bottom: 10px !important}
    #portfolio .row {margin-bottom: 8vh !important}
}

#portfolio {
    background: #1a1a1a;
    text-align: center;
}

#portfolio .row {
    align-items: center;
}

#portfolio h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#portfolio .mobile-port {
    width: 60vw;
    margin-left: 23vw;
    max-height: 15vh;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #1a1a1a;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(0.9);
}

#portfolio .portfolio-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#education {
    background-color: #0c0c0c;
}

#education h2 {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

#education .media-heading {
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    transition: all 0.4s ease-in-out;
    vertical-align: middle;
}

#education p {
    font-size: 18px;
}

#education a {
    color: #ffffff;
    transition: all 0.4s ease-in-out;
}

#education .list-header {
    height: 100px;
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}

#education li {
    margin-top: 20px;
}

#education #shs:hover {
    color: #a3b14e;
}

#education #bh:hover {
    color: #2b4785;
}

#education #harv:hover {
    color: #982b35;
}

#education .media-heading:hover {
    border-color: transparent;
}